
@{
    ViewData["Title"] = "Location";
}

<div>
    <div>
        <div class="row" style="direction: rtl;">
            <div class="col-6" style="direction: rtl; text-align: center;">
                <h1>מחנה צריפין</h1>
                <h2>צומת צריפין, ראשון לציון, ישראל</h2>
            </div>
            <div class="col-6" style="text-align: center;">
                <h1>שעות פעילות</h1>
                <h1>א-ה: 09:00 - 17:00</h1>
            </div>
        </div>

        <hr>

        <div class="row" style="direction: rtl;">
            <div class="col-6" style="direction: rtl; text-align: center;">
                <h1>הקריה</h1>
                <h2>דרך בגין 125, תל אביב, ישראל</h2>
            </div>
            <div class="col-6" style="text-align: center;">
                <h1>שעות פעילות</h1>
                <h1>א-ה: 10:00 - 16:00</h1>
            </div>
        </div>

        <hr>

        <div class="row" style="direction: rtl;">
            <div class="col-6" style="direction: rtl; text-align: center;">
                <h1>שלישות רמת גן</h1>
                <h2>
                    בן גוריון 100, רמת גן, ישראל
                </h2>
            </div>
            <div class="col-6" style="text-align: center;">
                <h1>שעות פעילות</h1>
                <h1>א-ה: 08:30 - 18:00</h1>
            </div>
        </div>
    </div>
</div>
