
@{
    ViewData["Title"] = "Map";
}

<div class="row text-center">
    <div class="col-6" style="cursor: auto;">
        <center>
            <div id="myMap" style="width: 450px;height: 450px;" />
        </center>
    </div>
    <div class="col-6" style="cursor: auto;">
        <div class="row" style="direction: rtl;">
            <div class="col-6" style="direction: rtl; text-align: center;">
                <h1>שלישות רמת גן</h1>
                <h2>
                    דוד בן גוריון 100, רמת גן, ישראל
                </h2>
            </div>
            <div class="col-6" style="text-align: center;">
                <h1>שעות פעילות</h1>
                <h1>א-ה:  <br />08:30 - 18:00</h1>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var map;
    var searchManager;

    function GetMap() {
        map = new Microsoft.Maps.Map("#myMap");
        addRoomToMap('Location', '100 דרך דוד בן גוריון, רמת גן, מחוז תל אביב 52, ישראל');

    }

    function addRoomToMap(name, address) {
        findLocationByAddress(address, function (location) {
            var shopLocation = location;
            var shopPoint = new Microsoft.Maps.Pushpin(shopLocation);
            var infobox = new Microsoft.Maps.Infobox(shopLocation, {
                title: name,
                description: address,
                visible: false
            });
            infobox.setMap(map);
            infobox.setOptions({ visible: true });
            Microsoft.Maps.Events.addHandler(shopPoint, 'click', function () {
                infobox.setOptions({ visible: true });
            });
            map.entities.push(shopPoint);
            map.setView({
                center: location,
                zoom: 15
            });

        });
    }

    function findLocationByAddress(address, foo) {
        // If search manager is not defined, load the search module
        if (!searchManager) {
            // Create an instance of the search manager and re-enter function
            Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
                searchManager = new Microsoft.Maps.Search.SearchManager(map);
                findLocationByAddress(address, foo);
            });
        } else {
            var searchRequest = {
                where: address,
                callback: function (r) {
                    foo(r.results[0].location);
                },
                errorCallback: function (e) {
                    // If there is an error
                    console.log("No results found for this address: " + address);
                }
            };

            // Make the geocode request
            searchManager.geocode(searchRequest);
        }
    }
</script>
<script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AmTbZrbvXwVy0XO22GneszL2g9TZqn9gsLSs8ejbQe-EIb5_QvppPlAyyD_59HII" async defer></script>