@model ErrorViewModel
@{
    ViewData["Title"] = "Order is been placed";
}

<h1 class="text-success">Success!!</h1>
<h2 class="text-success">Order has been Placed</h2>


<h3>You Can now contact your nearest store</h3>

